.App {
    font-family: "Manrope", sans-serif;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 800;
  }
  