.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .post-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  /* Estilos generales para la ventana modal */
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con más opacidad */
  }
  
  /* Contenido de la ventana modal */
  .modal-content {
    background-color: #fefefe; /* Fondo blanco suave */
    padding: 50px;
    border-radius: 30px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra más suave */
    width: 500px; /* Ancho de la ventana modal */
    max-height: 70%; /* Altura máxima para la ventana modal */
    overflow-y: auto; /* Desplazamiento si el contenido es muy grande */
  }
  
  /* Estilo para el botón de cerrar */
  .close {
    cursor: pointer;
    float: right;
    font-size: 50px; /* Tamaño de fuente para el botón de cerrar */
    color: #634dc7; /* Color rojo para el botón de cerrar */
  }
  
  /* Estilo para el título del post */
  .modal-content h3 {
    margin: 0; /* Sin márgenes */
    color: #333; /* Color del título */
    font-size: 1.5em; /* Tamaño del título */
  }
  
  /* Estilo para el cuerpo del post */
  .modal-content p {
    color: #555; /* Color del texto del cuerpo */
    line-height: 1.5; /* Espaciado entre líneas */
  }
  
  /* Estilo para la lista de comentarios */
  .modal-content ul {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
  }
  
  .modal-content li {
    background-color: #f1f1f1; /* Fondo gris claro para los comentarios */
    margin: 25px 0; /* Espaciado entre comentarios */
    padding: 10px; /* Padding dentro de los comentarios */
    border-radius: 5px; /* Bordes redondeados para los comentarios */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra suave para los comentarios */
  }
  
  /* Estilo para el email del comentarista */
  .modal-content li i {
    font-size: 0.9em; /* Tamaño de fuente más pequeño para el email */
    color: #896ff1; /* Color gris para el email */
  }
  
  .modal-content::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
  }
  .modal-content::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 30px; /* Bordes redondeados para el thumb */
  }
  
  .modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb al pasar el ratón */
  }
  
  .modal-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del track */
    border-radius: 10px; /* Bordes redondeados para el track */
  }
  