.post {
    background-color: #f0f0f0; /* Cambia el color de fondo  */
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 4px; /* Espaciado entre el icono y el número */
    font-size: 20px; /* Ajusta el tamaño del icono */
    color: #333; /* Cambia el color del icono si lo deseas */
    cursor: pointer;
  }
  



.post-item {
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 10px;
  padding: 16px;
  width: 250px;
  background-color: #e9d0f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-item h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px; /* Add some space below the heading */
}

.post-item p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

button {
  background-color: #930bd7;
  color: white;
  border: none;
  border-radius: px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #532154;
}

.comments-section {
  margin-top: 5px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.comments-section h4 {
  font-size: 1.25rem;
  color: #333;
}

.comments-section ul {
  list-style-type: none;
  padding: 0;
}

.comments-section li {
  background-color: #e9ecef;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
}